{% extends 'base.html' %}

{% block head %}
<title>パスワード変更</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="mx-auto" style="width: 300px;">
        <form method="POST" action="">
            {% csrf_token %}
            {% for item in form %}
                {{ item.label }}
                {{ item }}<br>
            {% endfor %}
            <p class="text-danger">{{ Error }}</p>
            <div class="text-center">
                <input type="submit" class="btn btn-outline-danger" value="パスワードを変更する">
            </div>
        </form> 
    </div>
</div>
{% endblock content %}