{% extends 'base.html' %}

{% block head %}
<title>商品追加画面｜買い物かご</title>
{% endblock head %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="card-body">
        <div class="form-group" id="list">
            <div class="alert alert-dark">
                <br>
                {{ forms.list_name.label }}<br>
                {{ forms.list_name }}<br><hr>
                {{ forms.name.label }}<br>
                {{ forms.name }}<br>
                {{ forms.quantity.label }}<br>
                {{ forms.quantity }}<br>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="登録する">
    </div>
</form>
{% endblock content %}